/* FORCE VISIBLE CHANGES */
body {
    background-color: red !important;
    margin: 0;
    padding: 20px;
}
h1 {
    color: white !important;
    font-size: 50px !important;
    text-shadow: 2px 2px black !important;
}